/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul { list-style-type: none; }

a { 
    text-decoration: none;
    color: #222328;
}

body {
    background-color: #fff;
    color: #222328;
}

.container {
    outline: 2px solid;
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

header {
    background: #ddd;
    width: 20%;
    padding: 20px;
    padding-top: 40px;
    position: relative;
    z-index: 999;
}

.main {
    width: 80%;
    /* border: 4px solid red; */
}

#main-banner {
    background: #666;
    height: 350px;
}

#contents { 
    /* background: pink; */
    height: 200px;
}

footer {
    background: #eee;
    height: 100px;
}

header .logo {
    width: 100%;
}

/* 메인메뉴 */
header nav .depth1 > li {
    /* border: 1px solid red; */
    /* 부모 위치 선언(depth2의 위치 기준) */
    position: relative;
}

header nav .depth1 > li > a {
    font-weight: bold;
}

/* hover되면 글자 색상 효과 주기 */
header nav .depth1 > li > a:hover {
    color: #ab0000;
}

/* 2단계 메뉴 효과(반전효과) */
header nav .depth2 > li > a:hover {
    background-color: #ab0000;
    color: #fff;
}

header nav .depth2 > li > a {
    display: block;
    padding: 5px;
    color: #fff;
}

/* 2단계 메뉴 위치 조정 */
header nav .depth2 {
    background: #555;
    position: absolute;
    width: 100%;
    left: 160px;
    top: 0;
    /* display: none; */
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s;
}

/* 마우스가 올라갈때 2단계 메뉴 보임 */
header nav .depth2.active {
    /* display: block; */
    height: 100px;
    opacity: 1;
}

/* 메뉴 버튼 트렌지션 효과 */
header nav a {
    transition-duration: 0.4s;
}


/* slider img */
.slider {
    width: 100%;
    height: 350px;
    background: #333;
    /* border: 4px solid blue; */
    overflow: hidden;
}

.slider .sliders{
    display: flex;
    /* slider width: 이미지 크기 */
    transform: translateX(0px);
    transition: 0.5s;
}

#contents {
    display: flex;
}

#contents > div {
    /* 3단으로 나누기 */
    /* width: calc(100% / 3); */
    /* border: 2px solid #666; */
}

#contents > .notice {
    width: 40%;
    padding: 10px 5px;
}
#contents > .banner {
    width: 30%;
    padding: 10px 5px;
}
#contents > .link {
    width: 30%;
    padding: 10px 5px;
}


#contents .notice .btn-group {
    display: flex;
    margin-bottom: 20px;
}
#contents .notice .btn-group a{
    border: 1px solid #999;
    background: #ddd;
    padding: 5px;
}
#contents .notice .btn-group a.active {
    background: #fff;
}

/* tab content */
#tab-content1, #tab-content2 {
    display: none;
}

#tab-content1.active, #tab-content2.active {
    display: block;
}

/* 공지사항 목록 */
#tab-content1 ul li {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

/* 갤러리 영역 */
#tab-content2 ul {
    display: flex;
    gap: 12px;
}

/* 배너 영역 */
#contents .banner img,
#contents .link img {
    width: 100%;
    height: 100%;
}

/* footer */
footer {
    display: flex;
}

footer .logo {
    padding-left: 15px;
    padding-right: 10px;
}
footer .logo img { width: 160px;}

footer .logo, footer .footer-info {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .footer-info { width: 100%;}

footer .footer-info nav {
    margin-bottom: 1rem;
}

footer .footer-info nav a {
    margin-left: 1rem;
    margin-right: 1rem;
}


header h1 {
    margin-bottom: 20px;
}

header nav .depth1 {
    background: #ccc;
}

header nav .depth1 > li > a{
    padding: 10px;
    display: block;
}
/* 팝업 */
#popup {
    width: 400px;
    background: #fff;
    border: 1px solid #ddd;
    position: fixed;
    left: 40%; top: 20%;
    padding: 40px 20px;
    box-shadow: 1px 1px 6px rgba(0,0,0, 0.3);
    display: none;
}

#popup.active { display: block; }

#popup h2, #popup p { margin-bottom: 1em;}